<h1>Sign In</h1>

<%= form_tag sessions_url do %>
  <div>
    <%= label_tag :username, "Who are you?" %>
    <%= text_field_tag :username %>
  </div>

  <div>
    <%= label_tag :password, "What's your password?" %>
    <%= password_field_tag :password %>
  </div>

  <%= submit_tag "Sign In" %>

<% end %>
