<h1>Movie #<%= @movie.id %></h1>

<p>
  <b>Title:</b>
  <%= @movie.title %>
</p>

<p>
  <b>Year:</b>
  <%= @movie.year %>
</p>

<p>
  <b>Director:</b>
  <%= @movie.director.try(:name) %>
</p>

<p>
  <b>Cast:</b>
  <ul>
    <% @movie.actors.each do |actor| %>
      <li><%= actor.name %></li>
    <% end %>
  </ul>
</p>







