<h1>Director #<%= @director.id %></h1>

<p>
  <b>Name:</b>
  <%= @director.name %>
</p>

<p>
  <b>Dob:</b>
  <%= @director.dob %>
</p>

<p>
  <b>List of Films:</b>
  <ul>
    <% @director.movies.each do |movie| %>
      <li><%= link_to movie.title, movie %> (<%= movie.year %>)</li>
    <% end %>
  </ul>
</p>








