<h1>Editing Vote #<%= @vote.id %></h1>


<%= form_tag(vote_url(@vote), method: 'put') do %>

  <div>
    <%= label_tag :movie_id %><br />
    <%= select_tag :movie_id, options_from_collection_for_select(Movie.all, :id, :title) %>
  </div>

  <div>
    <%= hidden_field_tag :user_id, session[:user_id] %><br />
  </div>


  <div>
    <%= submit_tag "Update Vote" %>
  </div>

<% end %>
