<h1>New Vote</h1>

<% if @vote.errors.any? %>
  <ul>
    <% @vote.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @vote do |f| %>
  <%= f.hidden_field :user_id %>
  <div>
    <%= f.label :movie_id %><br />
    <%= f.collection_select :movie_id, Movie.all, :id, :title %>
  </div>
  <div>
    <%= f.submit "Create Vote" %>
  </div>
<% end %>
