<!DOCTYPE html>
<html>
<head>
  <title>AMDB TSL Movie Database</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%= link_to "Directors", directors_url %> |
    <%= link_to "Movies", movies_url %> |
    <%= link_to "Roles", roles_url %> |
    <%= link_to "Actors", actors_url %> |
    <%= link_to "Users", users_url %> |
    <%= link_to "Votes", votes_url %>
    <%= link_to "Sign In", '/sessions/new' %>
  </nav>

  <% if session[:user_id].present? %>
    <p>Welcome back, <%= User.find(session[:user_id]).username %> | <%= link_to "Sign Out", '/sessions', method: 'delete' %></p>
  <% end %>

  <p><%= notice %></p>

  <%= yield %>

</body>
</html>
